.container{
    width: 300px;
    height: 250px;    
    margin: 50px auto;
    border-top: 7px solid #15158f;
    border-left: 7px solid #15158f;
    border-right: 7px solid #15158f;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    font-size: 0;
}

.container .ball-cotainer{
    text-align: center;
    margin-top: -1px;
    margin-right: -6px;
}

.container .ball-cotainer .rope{
    display: inline-block;
    width: 4px;
    height: 150px;    
    background-color: #15158f;
}

.container .ball-cotainer .ball{
    margin-top: -3px;
    position: relative;
}

.container .ball-cotainer .ball img{
    width: 60px;    
}

@keyframes move-last{
    from {
        transform: rotate(0deg);
        transform-origin: top;
    }

    50% {
        transform: rotate(0deg);
        transform-origin: top;
    }

    to {
        transform: rotate(-45deg);
        transform-origin: top;
    }
}

@keyframes move-first{
    0% {
        transform: rotate(0deg);
        transform-origin: top;
    }

    50% {
        transform: rotate(0deg);
        transform-origin: top;
    }

    100% {
        transform: rotate(45deg);
        transform-origin: top;
    }
}

.container .ball-cotainer.last{
    animation-name: move-last;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.container .ball-cotainer.first{
    animation-name: move-first;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}